header {
    background-color:rgb(0, 0, 0);
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

h1 {
    display: inline;
}


#logo{
    width: 250px;
}


nav {
    display: inline-block;
    position: absolute;
    right: 30px;
    top:110px
}
    

nav li {
    display: inline;
    margin-left: 20px;
}


nav a{
    text-transform: uppercase;
    color: rgb(4, 113, 255);
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
.produtos{
    width: 1136px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li{
    display: inline-block;
    text-align: center;
    margin:10px;
    padding: 20px 0;
    border-color: purple;
    border-width: 3px;
    border-style:solid;
}
.item{
    width: 350px;
    height: 250px;
}
.produtos li h2{
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 10px;
}
.produtos li p{
    color: purple;
}