header {
    background-color: rgb(41, 29, 61);
}


h1 {
    display: inline;
}


#logo{
    width: 250px;
}


nav {
    display: inline-block;
}
    

nav li {
    display: inline;
}


nav a{
    text-transform: uppercase;
    color: red;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
}