header {
    background-color:rgb(0, 0, 0);
}


h1 {
    display: inline;
}


#logo{
    width: 250px;
}


nav {
    display: inline-block;
}
    

nav li {
    display: inline;
    margin-left: 20px;
}


nav a{
    text-transform: uppercase;
    color: rgb(4, 113, 255);
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}