body{

    background: black;

}  

#topo{
    width: 100%;
    height: 200px;
}
#baixo{
    width: 100%
    height:auto 100px
}
title {
    text-align: center;
    color:coral
}

h1 {
    color: white;
}

p {
    color: white;
    text-align: center;
}

#lema{
    font: size 35px;
    color:red;
    
}

h2 {
    color: white;
}

.itens {
    color: white;
}
